<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head" />

<body class="bg-gradient-primary">
	<div class="container shadow"
		style="font-family: 'Didact Gothic', sans-serif;">
		<div class="card shadow-lg o-hidden border-0 my-5">
			<div class="card-body p-0">
				<div class="row justify-content-center" style="margin: -8px;">
					<div class="col-lg-7">
						<div class="p-5">
							<div class="text-center">
								<h1 class="text-uppercase text-dark mb-4" style="height: 33px;">Agenda</h1>
								<hr>
							</div>
							<h4 class="text-uppercase text-center">Taskmanagement&nbsp;</h4>
							<div th:if="${error!=null}"
								class="alert alert-danger alert-dismissible fade show my-2"
								role="alert">
								<strong>Hmm.</strong> <span th:text="${error}"></span>
								<button class="btn close" type="button" data-dismiss="alert">
									<span class="fa fa-close"><br></span>
								</button>
							</div>
							<form th:action="@{/login}" method="post" class="user">
								<div class="form-group">
									<input class="form-control form-control-user"
										autofocus="autofocus" type="text" id="username"
										aria-describedby="emailHelp" placeholder="Benutzername"
										name="username" required="">
								</div>
								<div class="form-group">
									<input class="form-control form-control-user" type="password"
										id="password" placeholder="Passwort" name="password">
								</div>
								<button class="btn btn-primary btn-block text-white btn-user"
									type="submit" name="submit" value="submit">Login</button>
							</form>
							<a href="/"><button
									class="btn btn-outline-primary btn-block btn-user"
									type="submit" name="submit" value="submit">Zur Startseite</button></a>
							<div class="text-center">
								<p class="mb-5"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:replace="fragments :: scripts">
</body>

</html>